section#single-quiz .quiz-main{
   width: 95%;
   height: 80%;
   background-color: #292a2e;
   padding: 3%;
   overflow: hidden;
   margin-top: 100px;
}
.quiz-main .buttons{
   height: 70px;
}
.quiz-main .buttons button{
   width: 30%;
}

#questions-wrapper{
   transition: transform 300ms ease;
   background-color: transparent;
}

@media (min-width: 768px) {
   section#single-quiz .quiz-main{
      width: 40%;
      height: 75%;
      padding: 1% 1% 2% 1%;
      margin-top: 0;
   }
   .quiz-main .buttons{
      height: 70px;
   }
}