section#single-quiz .quiz-main{
   width: 95%;
   height: 80%;
   background-color: #292a2e;
   padding: 3%;
   overflow: hidden;
   margin-top: 100px;
   position: relative;
   z-index: 0;
}
section#single-quiz .quiz-main .extras{
   position: absolute;
   height: 10%;
   top: 0;
   left: 0;
   z-index: 100;
   width: 80% !important;
}
.quiz-main .buttons{
   /* height: 70px; */
   position: absolute;
   height: 10%;
   bottom: 0;
   left: 0;
   z-index: 100;
}
.quiz-main .buttons button{
   width: 30%;
}

@media (min-width: 768px) {
   section#single-quiz .quiz-main{
      width: 40%;
      height: 75%;
      padding: 0;
      margin-top: 0;
   }
   .quiz-main .buttons{
      height: 70px;
   }
}