.question{
   width: 100%;
   background-color: #292a2e;
   margin: 0 0.4%;
   background-color: transparent;
}

.question-section{
   background-color: #323439;
   width: 100%;
   height: 40%;
   padding: 4%;
   border-radius: 5px;
   color: white;
   font-size: 20px;
}
.question .option-section{
   height: 55%;
   position: relative;
}
.options-overlay{
   width: 100%;
   height: 100%;
   display: block;
   background-color: transparent;
   position: absolute;
   left: 0;
   top: 0;
}
.question .option input{
   width: 0;
   height: 0;
   display: inline;
   position: absolute;
   pointer-events: none;
   user-select: none;
}
.question .option label{
   width: 100%;
}
.question .option label span{
   background-color: #202124;
   border-radius: 3px;
   border: 1px solid transparent;
}
.question .option label span:hover{
   background-color: #393b41;
}
.question .option input:checked + span {
   border: 1px solid blue !important;
}




/* Option Selected */
.wrong-answer{
   background-color: #322020 !important;
}
.right-answer{
   background-color: #285427 !important;
}